.App {
  background-color: #e3e8eb; /* Основной фон */
  color: #ffffff; /* Цвет текста */
  font-family: "Latin Regular", sans-serif; /* Основной шрифт */
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Latin Bold", sans-serif; /* Жирный шрифт для заголовков */
}
