* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: #0a192f;
  color: #ffffff;

  @media (max-width: 768px) {
    font-size: 14px; /* Меньший базовый шрифт */
  }
}

button {
  cursor: pointer;
}
